.markdown_to_jsx {
	margin: 15px 13px 15px 12px;
	padding-bottom: 20px;
}

.markdown_to_jsx .title>span {
	position: relative;
}

.markdown_to_jsx .title>span:hover:before {
    width: calc(100% + 10px);
}
.markdown_to_jsx .title>span:before {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #dcdcdc;
    transition: all .3s;
}

.markdown_to_jsx .title>span:hover:after {
    position: absolute;
	top: -5px;
    right: -20px;
    font-size: 10px;
    color: #dcdcdc;
	content: attr(type) "";
}

.markdown_to_jsx code {
    font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}


.markdown_to_jsx blockquote {
	margin: 10px 16px;
	padding: 10px 20px;
	border-left: 5px solid #dadada;
	font-style: italic;
	letter-spacing: 0.6px;
}

.markdown_to_jsx .code_block {
	position: relative;
	margin: 5px 15px;
	padding: 0;
	word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
}

.markdown_to_jsx .code_block::before {
	position: absolute;
	z-index: 1;
	padding: 2px 3px;
	top: 1px;
	right: 20px;
	background: #fff;
	font-size: 8px;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	line-height: 10px;
	content: attr(desc);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.markdown_to_jsx .code_block>pre {
    position: relative;
    margin: 0;
	padding: 16px 20px;
	overflow-x: auto;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #f8f8f8;
}

.markdown_to_jsx .paragraph,
.markdown_to_jsx li {
    line-height: 30px;
}

.markdown_to_jsx li>code,
.markdown_to_jsx .paragraph>code {
	margin: 0 3px;
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	white-space:nowrap;
	background: #f8f8f8;
}

.markdown_to_jsx table {
	margin: 5px 15px;
    width: calc(100% - 15px * 2);
	border-top: 1.5px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.markdown_to_jsx table th, 
.markdown_to_jsx table td {
	padding: 0 10px;
	line-height: 35px;
}

.markdown_to_jsx table tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.markdown_to_jsx table tbody tr:nth-child(even) {
	background-color: #fcfcfc;
}

.markdown_to_jsx table tbody tr:nth-child(odd) td {
	border-right: 1px solid #fcfcfc;
}

.markdown_to_jsx table tbody tr:nth-child(even) td {
	border-right: 1px solid #f2f2f2;
}

.markdown_to_jsx table tbody tr td:last-child {
	border-right: none;
}