html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
    overflow: hidden;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-variant: tabular-nums;
    font-feature-settings: "tnum","tnum";
    font-size: 14px;
    color: rgba(0,0,0,.85);
}

/** 滚动条 **/
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-track {
    background: orange rgba(241, 241, 241, 1);
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(193, 193, 193, 1);
    border-radius: 20px;
    border: 1px solid  rgba(192, 192, 192, 1);
}

#app {
    display: flex;
}

#app,
#app aside,
#app nav,
#app main article {
    height: 100%;
}

#app main aside,
#app nav {
    user-select: none;
}


#app .hide {
    display: none;
}