aside {
    padding: 10px 0;
    background: #252a3a;
    color: #ffffff;
}

aside ul {
    margin: 0 0 10px 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

aside ul::before {
    margin-bottom: 5px;
    padding-left: 15px;
    content: attr(label);
    color: #888888;
    font-size: 12px;
}

aside ul li {
    line-height: 35px;
    cursor: pointer;
    border-left: 5px solid #252a3a;
}

aside ul li.selected {
    border-left: 5px solid red;
}

aside ul li:hover {
    opacity: 0.6;
    background-color: #363b4b;
}

aside ul li span {
    padding-left: 30px;
}