
/** 文章 **/
.post_plugin {
    flex: 1;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 1px solid #ccc;
}

.post_plugin .header {
    position: relative;
    display: flex;
    padding-left: 10px;
    border-bottom: 1px solid rgba(98, 146, 158, 0.2);
    height: 40px;
    line-height: 40px;
    background: linear-gradient(#fff,#fdfdfd,#fff);
    user-select: none;
}

.post_plugin .header .label {
    flex: 1;
}

.post_plugin .header .operations {
    padding: 0 10px;
}

.post_plugin .header .operations span {
    padding: 0 5px;
    cursor: pointer;
}

.post_plugin .header .operations svg {
    width: 16px;
    height: 16px;
    line-height: 100%;
    vertical-align: middle;
}

.post_plugin .header .label .icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    width: 20px;
}

.post_plugin .header .label .icon svg {
    height: 20px;
}

.post_plugin .header .label .text {
    margin: 0 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}

.post_plugin .header .label .text::before {
    margin-right: 5px;
    opacity: 0.3;
    font-size: 12px;
}

.post_plugin .header .label .text:hover::before {
    opacity: 0.6;
}

.post_plugin .board {
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
}
