#app .docs {
    display: flex;
    height: 100%;
}

#app .docs aside,
#app .docs nav,
#app .docs article {
    height: 100%;
}

#app .docs aside,
#app .docs nav {
    user-select: none;
}


#app .docs .hide {
    display: none;
}