.markdown-to-jsx {
    margin: 15px 10px 15px 12px;
}

.markdown-to-jsx code {
    font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}


.markdown-to-jsx blockquote {
	margin: 10px 16px;
	padding: 10px 20px;
	border-left: 5px solid #dadada;
	font-style: italic;
	letter-spacing: 0.6px;
}

.markdown-to-jsx .code-block {
	position: relative;
	margin: 5px 15px;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #f8f8f8;
	word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
}

.markdown-to-jsx .code-block::before {
	position: absolute;
	z-index: 1;
	padding: 3px 5px;
	top: 0;
	right: 20px;
	background: #fff;
	font-size: 8px;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	line-height: 12px;
	content: attr(desc);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.markdown-to-jsx .code-block>pre {
    position: relative;
    margin: 0;
    padding: 13px 20px;
    overflow-x: auto;
}

.markdown-to-jsx .paragraph,
.markdown-to-jsx li {
    line-height: 30px;
}

.markdown-to-jsx li>code,
.markdown-to-jsx .paragraph>code {
	margin: 0 3px;
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	white-space:nowrap;
	background: #f8f8f8;
}




.markdown-to-jsx table {
	margin: 5px 15px;
    width: calc(100% - 15px * 2);
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-color: #ccc;
}

.markdown-to-jsx table th, 
.markdown-to-jsx table td {
	padding: 0 10px;
	line-height: 30px;
}

