.tabs_plugin .tab_keys {
    margin-top: 10px;
}

.tabs_plugin .tab_keys .tab_key {
    display: inline-block;
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
}

.tabs_plugin .tab_keys .tab_key.selected {
    border-color: #000;
    color: rgba(0, 0, 0, 0.6);
}

.tabs_plugin .tab_body {
    padding: 10px;
}